<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186137160846-2ikek1gerbh02buv11vni9jp4pkf0aju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186137160846-2ikek1gerbh02buv11vni9jp4pkf0aju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186137160846-8tl7l6v3hljhvnankojsatso5186s68d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOmHcpUBEu6OYTdcb9_uhqalqd46ebThc</string>
	<key>GCM_SENDER_ID</key>
	<string>186137160846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patwai.app</string>
	<key>PROJECT_ID</key>
	<string>pawtai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pawtai-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186137160846:ios:84e115769572fed0ff2ddf</string>
</dict>
</plist>